.model {
  height: 10.08rem;
  background-color: #fff;
  padding: 0.3rem;
}

.model .model-box {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  position: relative;
}

.model .model-box .model-name {
  position: absolute;
  left: 1.1rem;
  top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.model .model-box .model-name img {
  width: 5.85rem;
  height: 0.33rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.model .model-box .model-name div {
  font-size: 0.3rem;
  color: #333;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 0.28rem;
  letter-spacing: 0.04rem;
}

.model .model-box .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  left: 1.1rem;
  top: 2.8rem;
  cursor: pointer;
}

.model .model-box .more-btn img {
  width: 0.17rem;
  height: 0.14rem;
}

.model .model-box .more-btn div {
  font-size: 0.16rem;
  color: #333;
  font-family: Roboto-Medium;
  margin-right: 0.24rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.04rem;
}

.model .model-box .more-btn:hover div {
  color: #ff874a;
}

.model .model-box .description {
  position: absolute;
  right: 0.7rem;
  top: 2.25rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.model .model-box .big-car {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 12rem;
  height: 7rem;
  cursor: pointer;
}

.model .model-box .big-car img {
  width: 100%;
  height: 100%;
}

.model .model-box .bottom-box {
  position: absolute;
  bottom: 0.6rem;
  padding: 0 0.56rem 0 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.model .model-box .bottom-box .bottom-box-swiper-box {
  width: 68%;
  padding-left: 1.5rem;
}

.model .model-box .bottom-box .model-swiper {
  width: 100%;
  position: relative;
  padding: 0.2rem 0 0 0;
}

.model .model-box .bottom-box .model-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.model .model-box .bottom-box .model-swiper .swiper-slide img {
  width: 1.7rem;
  height: auto;
}

.model .model-box .bottom-box .model-swiper .swiper-slide img:nth-of-type(2) {
  display: none;
}

.model .model-box .bottom-box .model-swiper .swiper-slide div {
  color: #000;
  font-size: 0.14rem;
  margin-top: 0.25rem;
  font-family: Roboto-Medium;
}

.model .model-box .bottom-box .model-swiper .swiper-slide:hover img:nth-of-type(1) {
  display: none;
}

.model .model-box .bottom-box .model-swiper .swiper-slide:hover img:nth-of-type(2) {
  display: block;
}

.model .model-box .bottom-box .swiper-btn-box {
  width: 66%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 6%;
  top: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev {
  border-radius: 50%;
  background-color: #fff;
  width: 0.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.55rem;
  cursor: pointer;
  border: 1px solid #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev img {
  width: 0.17rem;
  height: 0.14rem;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev img:nth-of-type(2) {
  display: none;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev:hover {
  background-color: #ff874a;
  border-color: #ff874a;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-1:hover {
  border-color: #ff874a;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-1:hover img:nth-of-type(2) {
  display: block;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-1:hover img:nth-of-type(1) {
  display: none;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-2:hover {
  border-color: #ff874a;
  background-color: #ff874a;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-2:hover img:nth-of-type(2) {
  display: block;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-prev-2:hover img:nth-of-type(1) {
  display: none;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-next {
  border-radius: 50%;
  background-color: #fff;
  width: 0.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0.55rem;
  cursor: pointer;
  border: 1px solid #ccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-next img {
  width: 0.17rem;
  height: 0.14rem;
}

.model .model-box .bottom-box .swiper-btn-box .swiper-next img:nth-of-type(2) {
  display: none;
}

.model .model-box .bottom-box .btn {
  width: 2.65rem;
  height: 0.79rem;
  background-color: #68a598;
  border-bottom: 0.05rem solid #4aa3db;
  color: #fff;
  font-size: 0.16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: Roboto-Medium;
  margin-left: 2.45rem;
  letter-spacing: 0.03rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  overflow: hidden;
}

.mb-model {
  height: 14.93rem;
  position: relative;
}

.mb-model .model-box {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  padding: 1.14rem 0 0 0;
}

.mb-model .model-box .model-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0.73rem;
}

.mb-model .model-box .model-name img {
  width: 5.41rem;
  height: 0.25rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.mb-model .model-box .model-name div {
  font-size: 0.29rem;
  color: #333;
  font-family: Roboto;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 0.29rem;
  letter-spacing: 0.04rem;
}

.mb-model .model-box .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.73rem;
  border: 1px solid #000;
  font-size: 0.25rem;
  color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.04rem;
  width: 3.2rem;
  height: 0.74rem;
  margin-top: 0.37rem;
}

.mb-model .model-box .btn {
  width: 3.2rem;
  height: 0.69rem;
  background-color: #68a598;
  border-bottom: 0.04rem solid #4aa3db;
  color: #fff;
  font-size: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.73rem;
  letter-spacing: 0.03rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 0.2rem;
}

.mb-model .model-box .description {
  position: absolute;
  left: 0.73rem;
  top: 5.18rem;
  color: #fff;
  font-size: 1.07rem;
  line-height: 1.2rem;
}

.mb-model .model-box .big-car {
  position: absolute;
  left: 50%;
  top: 6.06rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 4.53rem;
}

.mb-model .model-box .big-car img {
  width: 100%;
  height: 100%;
}

.mb-model .model-box .bottom-box {
  position: absolute;
  bottom: 2.1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mb-model .model-box .bottom-box .bottom-box-swiper-box {
  width: 100%;
}

.mb-model .model-box .bottom-box .model-mb-swiper {
  width: 100%;
  position: relative;
}

.mb-model .model-box .bottom-box .model-mb-swiper .swiper-wrapper {
  width: 100%;
}

.mb-model .model-box .bottom-box .model-mb-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 1.4rem;
  position: relative;
}

.mb-model .model-box .bottom-box .model-mb-swiper .swiper-slide img {
  width: 1.4rem;
}

.mb-model .model-box .bottom-box .model-mb-swiper .swiper-slide div {
  color: #000;
  font-size: 0.24rem;
  margin-top: 0.34rem;
  font-family: Roboto-Medium;
}
/*# sourceMappingURL=model.css.map */